.grid {
  width:98%;
  margin:0 auto;
  -ms-flex-line-pack: center;
  align-content: center;
}
.grid-item {
  width: 33.33%;
  padding:5px;
  float: left;
  cursor: pointer;
}

.grid-item img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 520px) {
  .grid-item {
    width: 50%;
  }
}
